## loops






##  for loop synatx

In [1]:
for i in "gitam":
    print(i)

g
i
t
a
m

- range(start,stop,step)
- range(stop)
- range(start,stop)

In [2]:
for i in range(5):
    print(i,end='\t')

0	1	2	3	4

In [3]:
for i in range(5,10):
    print(i,end=' ')

5 6 7 8 9

In [4]:
for i in range(5,20,5):
    print(i,end=' ')

5 10 15

In [5]:
for i in range(5,100,10):
    print(i,end='\t')

5	15	25	35	45	55	65	75	85	95

In [6]:
for i in range(5):
    print(i,end='\t')

0	1	2	3	4

In [7]:
for i in range(5):
    print(i,end='\t')

0	1	2	3	4

In [9]:
for i in range(5):
    print(i,end='\t')

0	1	2	3	4

In [10]:
for i in range(-100,-50,10
):
    print(i,end='\t')

-100	-90	-80	-70	-60

- generate even number below 100
- generate multiples of 7 in (23,140) bth 23 and 140 are inclusive

In [11]:
for i in range(2,100,2
              ):
    print(i,end='\t')

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98

In [12]:
for i in range(28,141,2):
    print(i,end='\t')

28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100	102	104	106	108	110	112	114	116	118	120	122	124	126	128	130	132	134	136	138	140

In [13]:
for i in range(28,141,7):
    print(i,end='\t')

28	35	42	49	56	63	70	77	84	91	98	105	112	119	126	133	140

In [14]:
for i in range(23,141,1):
    print(i,end='\t')

23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100	101	102	103	104	105	106	107	108	109	110	111	112	113	114	115	116	117	118	119	120	121	122	123	124	125	126	127	128	129	130	131	132	133	134	135	136	137	138	139	140

In [16]:
for i in range(28,141,2):
    if i%7==0:
        print(i,end='\t')

28	42	56	70	84	98	112	126	140

In [17]:
for i in range(23,141,1):
    if i%7==0:
        print(i,end='\t')

28	35	42	49	56	63	70	77	84	91	98	105	112	119	126	133	140

- While syntax:
-  intialization
        while condition
        statement
        updation

In [18]:
i=23
while i<=140:
    if i%7==0:
        print(i,end=' ')
    i=i+1

28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140

 - read the number from keyboard.stop the reading whenever user enters done
 
example:
  input
        12
         45
         done

In [19]:
n=input("enter a number:")
while n!="done":
    print(n)
    n=input("enter a number:")

enter a number:67
67
enter a number:77
77
enter a number:89
89
enter a number:done

vowel count in a string

example : gitam
o/p:2

specific character count in a string <br>
i/p:abrakadabra,a <br>
o/p:4<br>

In [21]:
a=input("enter the string:")
count=0
for i in a:
    if(i=="a"or i=="e" or i=="i"or i=="o"or i=="u"):
        count=count+1
print("no of vowels is:",count)

enter the string:abrakadabra
no of vowels is: 5

- check the vowels count and consonant countin a string.if both are lucky name
        constraints:there are only alphabets inthe string
         i/p:gita
           o/p:lucky name

- lists

In [25]:
a=input("enter the string:")
count=0
cl=0
for each in a:
    if each in 'aeiouAEIOU':
        count=count+1
    else:
        cl=cl+1
if count==cl:
    print("lucky name")

enter the string:aeiklm
lucky name

In [26]:
marks=[34,67,78,89]
marks

[34, 67, 78, 89]

In [27]:
for i in marks:
    print(i)

34
67
78
89

In [29]:
print(marks[0])
print(len(marks))
print(marks [3])
print(marks[len(marks)-1])
print(marks[-1])

34
4
89
89
89

In [30]:
marks

[34, 67, 78, 89]

In [31]:
#updating thevalue in a list
marks[0]=98
print(marks)

[98, 67, 78, 89]

In [33]:
L= list(range(2,32,2))
L

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [39]:
#slicing listname[start:stop:step]
print(L[:3])
print(L[0:3:1])

[2, 4, 6]
[2, 4, 6]

In [40]:
# to get alternate elements from the start
print(L[0::2])
print(L[0:len(L):2])

[2, 6, 10, 14, 18, 22, 26, 30]
[2, 6, 10, 14, 18, 22, 26, 30]

In [41]:
#reverse the list using slicing
print(L[::-1])

[30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [43]:
print(L[-1:-5:-1])#elements with indices[-1,-2,-3,-4]

[30, 28, 26, 24]

In [44]:
marks

[98, 67, 78, 89]

In [45]:
marks[5]

IndexError: list index out of range

In [47]:
print(marks)
marks.append(55)
print(marks)

[98, 67, 78, 89]
[98, 67, 78, 89, 55]

In [48]:
#toremove an element
print(marks)
marks.pop(2)
print(marks)

[98, 67, 78, 89, 55]
[98, 67, 89, 55]

In [50]:
print(marks)

[98, 67, 89, 55]

In [52]:
marks.extend(m1)

NameError: name 'm1' is not defined

marks

In [54]:
marks.append(98)
print(marks)
print(marks.count(98))

[98, 67, 89, 55, 98]
2

In [55]:
 marks.pop()

98

In [57]:
s="abrakadabra"
print(s[0])
print(s[-1])
print(s[:4])

a
a
abra

In [58]:
s[0]='a'

TypeError: 'str' object does not support item assignment

# user defined function

In [59]:
def hello():
    print('welcome to gitam')

In [60]:
hello()

welcome to gitam

In [61]:
print(print('check'))

check
None

In [64]:
def hellowithname(name):
         print('welcome to gitam',name)

In [65]:
hellowithname('python')

welcome to gitam python

In [66]:
def power(a,b):
    return a**b

In [69]:
res=power(2,3)
print(res)

8

In [74]:
def power1(a,b):
    print (a**b)

In [75]:
res1 = power1(2,3)
print(res1)

8
None

In [76]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [77]:
help(power)

Help on function power in module __main__:

power(a, b)

In [78]:
def hellowithname(fname,lname='gitam'):
    print('welocme to gitam',fname,lname)

In [79]:
hellowithname('hyd')

welocme to gitam hyd gitam

In [80]:
def hellowithfukname(fname='hyd',iname):
    print('welcometo gitam',fname,lname)

SyntaxError: non-default argument follows default argument (<ipython-input-80-36799b30596e>, line 1)