- topic
      - tuple
      - dictionary

In [1]:
empty = list()
empty1=[]

In [2]:
t=(1,2)
print(t)

(1, 2)

In [4]:
print(t[0])

1

In [5]:
t.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
t[0]=10

TypeError: 'tuple' object does not support item assignment

In [7]:
t.count(1)

1

In [11]:
t1=(1,2,3,4,1,1)
print(t1.count(1))
print(t1.count(5))
print(sum(t1),max(t1),min(t1))

3
0
12 4 1

In [9]:
t1.count(5)

0

In [13]:
t2=(34,'python',True,89.5)
print(t2)
print(t2[0])
print(t2[2:])
print(t2[1][2])

(34, 'python', True, 89.5)
34
(True, 89.5)
t

In [15]:
t3=(3,4,(34,67))
print(t3[2])
print(t3[2][1])

(34, 67)
67

- create a llist .where each sublist consists 3 subject marks of students

In [16]:
student_marks = [[23,56,89,],[45,56,76],[99,65,34]]
print(student_marks)

[[23, 56, 89], [45, 56, 76], [99, 65, 34]]

In [18]:
a=[6,8,9]
a.append(sum(a))

In [48]:
for i in a:
    print(i+1)
    print(i)

7
6
9
8
10
9
24
23

In [47]:
aplus=[]
for i in a:
    aplus.append(i+1)
    print(aplus)

[7]
[7, 9]
[7, 9, 10]
[7, 9, 10, 24]

In [49]:
print(a)

[6, 8, 9, 23]

In [50]:
list(range(len(a)))

[0, 1, 2, 3]

In [51]:
for i in range(len(a)):
    a[i]=a[i]+1

In [52]:
print(a)

[7, 9, 10, 24]

In [55]:
#to access elements
for i in a:
    print(i,end=' ')
    print()
    #to acccess the elements by using index
    for i in range(len(a)):
        print(a[i],end=' ')

7
7 9 10 24 9
7 9 10 24 10
7 9 10 24 24
7 9 10 24

- dictionary

In [56]:
d = {'maths':56,'english':67,'physics':45}
d['maths']

56

In [57]:
d['physics']=77
d

{'maths': 56, 'english': 67, 'physics': 77}

In [58]:
d['python']= 78
d

{'maths': 56, 'english': 67, 'physics': 77, 'python': 78}

In [60]:
for i in d:
    print(i,end=' ')

maths english physics python

In [61]:
#accessing thevalues using for loop
for i in d:
    print(d[i],end=' ')

56 67 77 78

In [63]:
sum(d)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [65]:
s=0
for i in d:
    s+=d[i]
print(s)

278

In [67]:
sum(d.values())

278

In [69]:
for key,value in d.items():
    print(key,':',value)

maths : 56
english : 67
physics : 77
python : 78

In [70]:
d.update({'total':sum(d.values())})
print(d)

{'maths': 56, 'english': 67, 'physics': 77, 'python': 78, 'total': 278}

In [71]:
d.pop('total')
print(d)

{'maths': 56, 'english': 67, 'physics': 77, 'python': 78}

## create a dictionary with  3students data
     - key  - student name
     - value - list if 3 subjects marks of the students

In [73]:
std_marks = {'ram':[77,45,34],'sandy':[56,78,94],'rose':[67,89,92]}
std_marks

{'ram': [77, 45, 34], 'sandy': [56, 78, 94], 'rose': [67, 89, 92]}

Add totalmarks as the last elemts in the list for each student
 - example o/p
- {'ram':[77,45,34,156]}

In [74]:
std_marks['ram']

[77, 45, 34]

In [75]:
for k,v in std_marks.items():
    std_marks[k].append(sum(v))
std_marks

{'ram': [77, 45, 34, 156],
 'sandy': [56, 78, 94, 228],
 'rose': [67, 89, 92, 248]}